{% extends "blog/layout.html" %}
{% load static %}
{% block title %}Complexe_scolaire_la_grandeur{% endblock %}

{% block content %}

    <!-- Arrêtés ministériels -->
    <section class="ministerial-orders animated">
        <p><strong>Arrêté Ministériel N°0288/CAB/MIN-ETP/JNT/GBM/BBL/2016 DU 17/10/2016</strong></p>
        <p><strong>Arrêté Ministériel N°MINESP/CABIN/0362/2017 du 26/01/2017</strong></p>
        <p><strong>PROVINCE DU LUALABA</strong></p>
        <p><strong>VILLE DE KOLWEZI</strong></p>
    </section>
    <div class="background-image-1">
        <img src="{% static "blog/img/secondaire/CG 1.png" %}" alt="fond">
    </div>
    <section class="highlights animated">
        <h2>NOS SECTIONS</h2>
    </section>
    <main>
        <div class="content-wrapper animated">
            <section class="sections">
                <div class="section">
                    <img src="{% static "blog/img/maternelle/1mat.png" %}" alt="Maternelle">
                    <div>
                        <h2>Maternelle</h2>
                        <p>La section maternelle de notre école offre un environnement chaleureux et stimulant pour les jeunes enfants. </p>
                        <a href="#"><button class="section-button">Consulter</button></a>

                    </div>
                </div>
                <div class="section">
                    <img src="{% static "blog/img/primaire/eleves 1 annee 1.png" %}" alt="Primaire">
                    <div>
                        <h2>Primaire</h2>
                        <p>La section primaire de notre école est dédiée à fournir une éducation de qualité qui pose les bases solides pour l'avenir de nos élèves.</p>
                        <a href="#"><button class="section-button">Consulter</button></a>
                    </div>
                </div>
                <div class="section">
                    <img src="{% static "blog/img/secondaire/CS.png" %}" alt="Secondaire">
                    <div>
                        <h2>Secondaire</h2>
                        <p>Notre section secondaire propose deux filières distinctes : <strong>l'enseignement Général</strong> et <strong>l'enseignement Technique,</strong> afin de répondre aux aspirations et aux talents de chaque élève.</p>
                        <a href="#"><button class="section-button">Consulter</button></a>
                    </div>
                </div>
            </section>
            
            <div class="image-wrapper">
                <img src="{% static "blog/img/s.png" %}" alt="École">
            </div>

        </div>

        <!-- Section Nos Moments Forts -->
        <section class="highlights">
            <h2>Nous</h2>
            <div class="carousel">
                <iframe 
                    width="100%" height="100%"
                    src="https://www.youtube.com/embed/rvrdaj8wrkQ" 
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen
                    >
                </iframe>
            </div>
        </section>

        <!-- Aperçu des galeries par section -->
        <section class="gallery-previews">
            <h2>Galeries par section</h2>
            <div class="gallery-section">
                <h3>Maternelle</h3>
                <img src="{% static "blog/img/maternelle/12mat.png" %}" alt="Maternelle 1" onclick="openModal(this)">
                <img src="{% static "blog/img/maternelle/1mat.png" %}" alt="Maternelle 2" onclick="openModal(this)">
                <img src="{% static "blog/img/maternelle/3e mat.png" %}" alt="Maternelle 2" onclick="openModal(this)">
                <img src="{% static "blog/img/maternelle/mat22.png" %}" alt="Maternelle 2" onclick="openModal(this)">
                <img src="{% static "blog/img/maternelle/presentation.png" %}" onclick="openModal(this)">
                <img src="{% static "blog/img/maternelle/3e mat.png" %}" alt="Maternelle 2" onclick="openModal(this)">
            </div>

            <div class="gallery-section">
                <h3>Primaire</h3>
                <img src="{% static "blog/img/primaire/eleves 1 annee 1.png" %}" alt="Primaire 1"onclick="openModal(this)">
                <img src="{% static "blog/img/primaire/eleves 1 annee 7.png" %}" alt="Primaire 1" onclick="openModal(this)">
                <img src="{% static "blog/img/primaire/eleves 1 annee.png" %}" alt="Primaire 2" onclick="openModal(this)">
                <img src="{% static "blog/img/primaire/eleves 1 annee3.png" %}" alt="Primaire 2" onclick="openModal(this)">
                <img src="{% static "blog/img/primaire/eleves 1 annee4.png" %}" alt="Primaire 2" onclick="openModal(this)">
                <img src="{% static "blog/img/primaire/eleves 1 annee5.png" %}" alt="Primaire 2" onclick="openModal(this)">
            </div>

            <div class="gallery-section">
                <h3>Secondaire</h3>
                <img src="{% static "blog/img/secondaire/1 sc.png" %}" alt="Secondaire 1"onclick="openModal(this)">
                <img src="{% static "blog/img/secondaire/CG 1.png" %}" alt="Secondaire 2"onclick="openModal(this)">
                <img src="{% static "blog/img/secondaire/cg 4.png" %}" alt="Secondaire 2"onclick="openModal(this)">
                <img src="{% static "blog/img/secondaire/CS.png" %}" alt="Secondaire 2"onclick="openModal(this)">
                <img src="{% static "blog/img/secondaire/MG.png" %}" alt="Secondaire 2"onclick="openModal(this)">
                <img src="{% static "blog/img/secondaire/sc3.png" %}" alt="Secondaire 2"onclick="openModal(this)">
            </div>

            <!-- Modal pour l'affichage en plein écran -->
            <div id="modal" class="modal" onclick="closeModal()">
                <span class="close">&times;</span>
                <img class="modal-content" id="modalImage">
                <div id="caption"></div>
            </div>

            <!-- integration facebook-->
            <div class="facebook-plugin">
                <div id="fb-root"></div>
                <script async defer crossorigin="anonymous" src="https://www.youtube.com/@CSLaGrandeur" nonce="oG8N1yNJ"></script>
                <div class="fb-page" 
                        data-href="https://www.youtube.com/@CSLaGrandeur" 
                        data-tabs="timeline" 
                        data-width="340" 
                        data-height="500" 
                        data-small-header="false" 
                        data-adapt-container-width="true" 
                        data-hide-cover="false" 
                        data-show-facepile="true">
                    <blockquote cite="https://www.youtube.com/@CSLaGrandeur" class="fb-xfbml-parse-ignore">
                        <a href="https://www.youtube.com/@CSLaGrandeur">Complexe Scolaire la Grandeur</a>
                    </blockquote>
                </div>
            </div>
            
            <!-- Exemple d'intégration d'une publication Instagram -->

            <div class="instagram-embed">
                <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/csgrandeur" data-instgrm-version="13"></blockquote>
                <script async defer src="//www.instagram.com/embed.js"></script>
            </div>

        </section>
    </main>

{% endblock %}