{% extends "blog/layout.html" %}
{% load static %}
{% block title %}Publications de l'École{% endblock %}

{% block content %}

            <!-- Arrêtés ministériels -->
    <section class="flex lg:flex-row flex-col justify-center gap-4 my-8 items-center w-full">
        <div class="background-image-1">
            <img class="lg:w-4xl w-full" src="{% static 'blog/img/secondaire/CG 1.png' %}" alt="fond">
        </div>
        <div class="max-lg:w-full">
            {% for notification in notifications %}
            <div class="flex flex-col gap-2 p-4 bg-white shadow-md hover:shadow-xl transition-shadow duration-300 rounded-lg mb-4 lg:w-xl w-full">
                <time class="text-sm text-gray-500">{{ notification.created }}</time>
                <textarea class="resize-none" rows="4" disabled>{{ notification.content }}</textarea>
            </div>
            {% endfor %}
        </div>
    </section>

    {% comment %} <script src="{% static 'blog/js/notifications.js' %}"></script> {% endcomment %}

{% endblock %}
